In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Used_Bikes.csv')
df

In [ ]:
df

In [ ]:
df.head(5) # first 5 rows

In [ ]:
df.sample(5) # random 5 rows

In [ ]:
df.info() # data types and non-null values

In [ ]:
df.tail(5) # last 5 rows

In [ ]:
df.shape # number of rows and columns

In [ ]:
df.describe() # summary statistics

In [ ]:
brand_df = df["brand"] # select columns
brand_df

In [ ]:
df['bike_name'].nunique() # number of unique values

In [ ]:
df.iloc[0] # first row

In [ ]:
df['brand'].duplicated()# number of duplicates

In [ ]:
dfs = df.drop_duplicates() # drop duplicates

In [ ]:
dfs.isnull().sum() # number of missing values

In [ ]:
dfs['brand'].duplicated() # number of duplicates

In [ ]:
df.fillna(0) # fill 0 at null

In [ ]:
df['price'].fillna(df['price'].mean(), inplace=True) # fill mean at loc

In [ ]:
df.rename(columns={'bike_name': 'bike'}, inplace=True) # raname col

In [ ]:
df.sort_index(ascending=False) # sort index

In [ ]:
cat_df = df.select_dtypes(include='object') # change datatype
cat_df

In [ ]:
num_df = df.select_dtypes(exclude='O') # change data type
num_df